*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
}
@font-face {
    font-family: 'CabinetGrotesk';
    src: url('../assets/fonts/Display/CabinetGrotesk-Extrabold.otf') format(OpenType);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Body/Rubik-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {

    /*fonts*/
        /*family*/
        --headings: 'CabinetGrotesk', 'Rubik', 'Helvetica', Sans-Serif;
        --paragraphs: 'Rubik', 'CabinetGrotesk', 'Helvetica', sans-serif;
        /*size*/
        --h1: 2.75rem;
        --p: 1.125rem;
        --small-label: .875rem;

    /*colors*/
        /*primary*/
        --midnight: #0E0940;
        --red: #FF4F68;
        --white: #fff;
        --daylight: #EDF6FF;

    /*margins en paddings*/
        /*in sections*/
        --padding-sect-top: 2.8rem;
        --padding-sect-bottom: 2.5rem;
        --padding-left-right: 1.5rem;
        --menu-padding: 6.375rem 1.5rem 0;
        /*widths*/
        --full-width: 100px;
}

h1, h2, h3{
    font-family: var(--headings);
    font-size: var(--h1);
}

p{
    font-family: var(--paragraphs);
    font-size: var(--p);
}

nav{
    font-family: var(--paragraphs);
   /*hier zorg ik ervoor dat de nav op een rijtje komt*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-left-right);

    & .triple-logo img{
        width: var(--full-width);
        height: auto;
    }

    & .menu{
        display: flex;
    }

    &  .menu-item{
        /*hier zorg ik voor ruimte tussen de verschillende navigatie links*/
        margin-left: var(--padding-left-right);
        list-style: none;

        & a {
            text-decoration: none;
            color: var(--midnight);
        }

       & a:hover{
            color: var(--red);
        }
    }
}

.hambrgr{
    display: none;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    & .bar, .bar:before, .bar:after{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        /*dit bepaalt hoe snel het kruisje veranderd in de hamburger menu en andersom*/
        --webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--midnight);
    }
}

.hambrgr.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

/*ik zorg ervoor dat als de hamburger open is, 
de tweede lijn niet zichtbaar is*/
.hambrgr.active .bar:nth-child(2) {
    opacity: 0;
}

/*de andere lijnen draai ik zodat het een afsluit kruis vormt.*/
.hambrgr.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1000px) {
    .menu {
        overflow: hidden;
        position: fixed;
        /*dit zorgt ervoor dat het menu vanuit rechts komt*/
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        /*hier bepaal ik hoe snel het menu open en dicht gaat*/
        transition: 0.4s;
        z-index: 2;
        padding: var(--menu-padding: 6.375rem 1.5rem 0);
       
    }
    .menu.active {
        right: 0;
        position: absolute;
    }
    
    .menu-item {
        margin: 1.5rem 0;
    }

    .hambrgr {
        display: block;
        cursor: pointer;
    }
}

.hero{
    height: 400px;
    width: 100vw;
    background: var(--midnight);
    overflow: hidden;

    & img{
        /*dit zorgt ervoor dat de hele afbeelding te zien is en centraal is*/
        object-fit: cover;
        opacity: 0.4;
        width: 100vw;
    }

      & p {
        color: var(--red);
        position: absolute;
        top: 46%;
        left: 20%;
      }

      & h2 {
        color: var(--white);
        position: absolute;
        top: 50%;
        left: 20%;
      }
}

.about{
    width: 100%;
    padding: 4rem;

    & p {
        padding-top: 1rem;
        max-width: 65ch;
    }
}

footer{
    background-color: var(--midnight);
    font-family: var(--paragraphs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    & img{
        width: var(--full-width);
        height: auto;
    }

    & ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    & li {
        list-style: none;
        padding: .5rem;
    }

    & a{
        text-decoration: none;
        color: var(--white);
    }
    & .footer-p{
        color: var(--red);
        padding-top: 1rem;
    }
    & .footer-intro-title {
        color: var(--white);
        display: block;
        font-size: 4rem;
        max-width: 11ch;
    }

    & .footer-intro-title strong{
        color: transparent;
        -webkit-text-stroke: 0.0625rem var(--white);
    }

    & .footer-intro-p{
        color: var(--white);
        font-size: var( --small-label);
        padding-bottom: 1rem;
        padding-top: 1rem;
        max-width: 40ch
    }

    & .contact-button{
        font-size: var(--p);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--white);
        box-shadow: 0.1875rem -0.125rem var(--white);
        background-color: var(--midnight);
        padding: 0.8125rem var(--padding-left-right);
        border: 0.0625rem solid var(--white);
        border-radius: 0.1875rem;
        outline: none;
        overflow: hidden;
        transition: box-shadow .2s,transform .2s;
    }
}

@media (max-width: 1000px) {

    footer{
        display: block;
    }
    footer ul{
        display: block;
    }
    
}

.slider {
    --slider-padding: 1rem;
    --slider-column-gap: 1rem;
    --slide-width: 30%;
    --slide-min-width: 20rem;
    position: relative;
    overflow: hidden;
    padding: 4rem;

   & .slider-button {
	background: var(--white);
    border: 3px solid var(--midnight);
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    margin: 1rem;

        &:hover{
            border: 3px solid #45f882;
            color: #45f882;
        }
    }

    & .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        border: 3px solid #383c4e;
        border-radius: 10px;
        padding: 3px;
        margin: 2rem;

        & .slideimg {
            width: 100%;
            height: auto;
            border-radius: 10px;
       }

       & .slide-content {
           position: absolute;
           font-size: 1rem;
           background-color: #fff;
           bottom: 30px;
           width: 100%;
           padding: 0 30px 0 30px; 
       }    
    }
    
}

.slide:hover {
    border: 3px solid #45f882;
}

.slider-track {
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding-inline: var(--slider-padding);
  scroll-behavior: smooth;
  list-style-type: none;
  padding: 0;
  margin-right: calc(--var(slider-column-gap) * -1);
  scrollbar-width: none;
}

.slider-track > * {
  flex: 0 0 var(--slide-width);
  min-width: var(--slide-min-width);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-right: var(--slider-column-gap);
}

.slider-track::-webkit-scrollbar {
  display: none;
}
