*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
}
@font-face {
    font-family: 'CabinetGrotesk';
    src: url('../assets/fonts/Display/CabinetGrotesk-Extrabold.otf') format(OpenType);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Body/Rubik-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {

    /*fonts*/
        /*family*/
        --headings: 'CabinetGrotesk', 'Rubik', 'Helvetica', Sans-Serif;
        --paragraphs: 'Rubik', 'CabinetGrotesk', 'Helvetica', sans-serif;
        /*size*/
        --h1: 2.75rem;
        --h2: 2rem;
        --p: 1.125rem;
        --small-label: .875rem;

    /*colors*/
        /*primary*/
        --midnight: #0E0940;
        --red: #FF4F68;
        --white: #fff;
        --daylight: #EDF6FF;

    /*margins en paddings*/
        /*in sections*/
        --section-top: 2.8rem;
        --section-bottom: 2.5rem;
        --left-right: 1.5rem;
        --menu-padding: 6.375rem 1.5rem 0;

        --padding-1: 1rem;
        /*widths*/
        --full-width-logo: 100px;
        --full-width-procent: 100%;
        
}

h1, h2, h3{
    font-family: var(--headings);
}

h1{
    font-size: var(--h1);
}

h2{
    font-size: var(--h2)
}

p{
    font-family: var(--paragraphs);
    font-size: var(--p);
}

/*Start Nav styling*/
nav{
    font-family: var(--paragraphs);
   /*hier zorg ik ervoor dat de nav op een rijtje komt*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--left-right);

    & .triple-logo img{
        width: var(--full-width-logo);
        height: auto;
    }

    & .menu{
        display: flex;
    }

    &  .menu-item{
        /*hier zorg ik voor ruimte tussen de verschillende navigatie links*/
        margin-left: var(--left-right);
        list-style: none;

        & a {
            text-decoration: none;
            color: var(--midnight);
        }

       & a:hover{
            color: var(--red);
        }
    }
}

.hambrgr{
    display: none;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    & .bar, .bar:before, .bar:after{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        /*this determines how quickly the cross changes in the hamburger menu and vice versa*/
        --webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--midnight);
    }
}

.hambrgr.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

/*I make sure that when the hamburger is open,
the second line is not visible*/
.hambrgr.active .bar:nth-child(2) {
    opacity: 0;
}

/*I rotate the other lines so that they form a closing cross.*/
.hambrgr.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1000px) {
    .menu {
        overflow: hidden;
        position: fixed;
        /*makes sure menu comes from the right*/
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: var(--full-width-procent);
        /*decides how fast menu opens and closes*/
        transition: 0.4s;
        z-index: 2;
        padding: var(--menu-padding: 6.375rem 1.5rem 0);
       
    }
    .menu.active {
        right: 0;
        position: absolute;
    }
    
    .menu-item {
        margin: 1.5rem 0;
    }

    .hambrgr {
        display: block;
        cursor: pointer;
    }
}
/*End Nav styling*/

/*Start Hero styling*/
.hero{
    height: 400px;
    width: var(--full-width-procent);
    background: var(--midnight);
    overflow: hidden;

    & img{
        opacity: 0.3;
        height: var(--full-width-procent);
        width: auto;
    }

      & p {
        color: var(--red);
        position: absolute;
        top: 46%;
        left: 20%;
      }

      & h2 {
        color: var(--white);
        position: absolute;
        top: 50%;
        left: 20%;
        font-size: var(--h1);
      }
}
@media (min-width:500px){
    .hero img{
        width:100vw;
        height: auto;
        /*object-position: 0px -200px;*/
    }
}
/*End Hero styling*/

/*Start About styling*/
  .about-container{
    min-width:100vw;
    padding: var(--section-bottom);

    & .about {
        margin-bottom: 4rem;
         
        & p {
            padding-top: var(--padding-1);
            max-width: 65ch;
        }
      }

    &  .image-gallery {
        display: flex;
        flex-wrap: wrap;
        height: 50%;
        width: auto; 

        & img{
            width: var(--full-width-procent); 
            margin-bottom: 10px;
        }
      }
  }
  
  @media screen and (min-width: 1000px) {
    .about-container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-gap: 20px; 
        width: 50%; 
    }
  
    .image-gallery {
      height: 50%;
      width: auto; 
    }
  
    .image-gallery img {
      width: 50%;
      display: flex;
      padding-left: var(--left-right);
      height: auto;
    }
  }
/*End About styling*/
  
/*Start Slider styling*/
.slider {
    overflow: hidden;
    padding: 4rem;

   & .slider-button {
	background: var(--white);
    border: 3px solid var(--midnight);
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    margin: var(--padding-1);

        &:hover{
            border: 3px solid var(--red);
            color: #45f882;
        }
    }
    
    & .slide {
        display: block;
        align-items: center;
        aspect-ratio: 1/1;
        border-radius: 10px;
        padding: 3px;
        margin: 0.5rem; /*space between slides*/
        min-width: 15rem;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        padding-right: var(--slider-column-gap);

        & .slideimg {
            width: var(--full-width-procent);
            height: auto;
            border-radius: 10px;
       }
       & .slide-content {
           position: relative;
           background-color: #fff;
           width: var(--full-width-procent);
           padding: 0 1.5rem 0 1.5rem; 

           & h2{
            font-size: .5rem;
            color: 
           }
       }    
    }
    
}

.slide:hover {
    border: 3px solid var(--red);
}

.slider-track {
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding-inline: var(--slider-padding);
  scroll-behavior: smooth;
  list-style-type: none;
  padding: 0;
  margin-right: calc(--var(slider-column-gap) * -1);
  scrollbar-width: none;
}


.slider-track::-webkit-scrollbar {
  display: none;
}

@media (min-width:1100px){
    .slider-button {
        display: none; /*hide buttons when display is min 1100px*/
    }
}
/*End Slider styling*/

/*Start Footer styling*/
footer{
    background-color: var(--midnight);
    font-family: var(--paragraphs);
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-1);

    & img{
        width: var(--full-width-logo);
        height: auto;
    }

    & li{
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-1) 0;
    }

    &  ul.socials {
        display: flex;
    }

    & li {
        list-style: none;
        padding: .5rem;
    }

    & a{
        text-decoration: none;
        color: var(--white);
    }
    & .footer-p{
        color: var(--red);
        padding: var(--padding-1);
    }
    & .footer-intro-title {
        color: var(--white);
        display: block;
        font-size: 4rem;
        max-width: 11ch;
    }

    & .footer-intro-title strong{
        color: transparent;
        -webkit-text-stroke: 0.0625rem var(--white);
    }

    & .footer-intro-p{
        color: var(--white);
        font-size: var( --small-label);
        padding: var(--padding-1) 0;
        max-width: 40ch;
    }

    & .contact-button{
        font-size: var(--p);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--white);
        box-shadow: 0.1875rem -0.125rem var(--white);
        background-color: var(--midnight);
        padding: 0.8125rem var(--padding-left-right);
        border: 0.0625rem solid var(--white);
        border-radius: 0.1875rem;
        outline: none;
        overflow: hidden;
        transition: box-shadow .2s,transform .2s;
    }
}

@media (min-width: 1000px) {

    footer{
        display: flex;
    }
    footer ul{
        display: flex;
    }
    
}
/*End Footer styling*/